@charset"utf-8";
.top,
body {
	position: relative;
	background: #F1F1F5;
}

.top>img,
.top>span,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

.img_f,
.img_f_bj {
	-ms-flex-direction: row
}

.img_f,
.img_f_bj,
.img_f_bj>ul>li {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	align-content: center
}

#broundAboutBox,
ol,
ul {
	list-style: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 10;
	padding: 0;
	border: 10;
	font: inherit;
	vertical-align: baseline
}

body {
	line-height: 1
}

body,
html {
	width: 100%!important;
	font-family:PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif, "微软雅黑"!important
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

textarea {
	resize: none
}

::-webkit-input-placeholder {
	color: #a9a9a9
}

:-moz-placeholder {
	color: #a9a9a9
}

::-moz-placeholder {
	color: #a9a9a9
}

:-ms-input-placeholder {
	color: #a9a9a9
}
.top_bj {
	width: 100%;
	height: 560px;
	background-size: 100% 100%
}

.top{
	width: 100%;
    height: 560px;
    position: relative;
    left: 0;
    top: 0;
}
.tops{
    width: auto;
    height: 560px;
    z-index: 2;
}
.banner{
	width: auto;
    height: 560px;

}
.tops_li{
	width: auto;
	height: 560px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.swiper-slide{
	height: 560px;
	position: relative;
}
.swiper-container {
	height: 560px;
}
.swiper-container{
	cursor: pointer;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #a9a7a7;

    margin: 0 8px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #fff;
}
.banner1{
	width: 100%;
	background: url("../img/banner1.jpg") no-repeat scroll center top transparent;;
}
.banner2{
	width: 100%;
	background: url("../img/banner2.jpg") no-repeat scroll center top transparent;;
}
.banner3{
	width: 100%;
	background: url("../img/banner3.jpg") no-repeat scroll center top transparent;;
}
.box_ones{
	width:1100px;
	margin: 0 auto;
	margin-top:40px;
	overflow: hidden;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index: 3;
}
.box_ones>ul>li{
	float: left;
	width: 283px;
	height: 251px;
	display: block;
	border: 1px solid #313131;
	margin-left:122px;
	cursor: pointer;
}
.box_ones>ul>li:first-child{
	margin-left: 0px;
}
.box_ones>ul>li>img{
	width: 70px;
	height: 80px;
	display: block;
	margin: 0 auto;
	margin-top: 29px;
}
.box_ones>ul>li>img:nth-child(2){
	display: none;
	filter:alpha(opacity=0); /* IE */
	-moz-opacity:0; /* 老版Mozilla */
	-khtml-opacity:0; /* 老版Safari */
	opacity: 0; /* 支持opacity的浏览器*/
}
.box_ones>ul>li>span{
	font-size: 16px;
	color: #717171;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 22px;
	display: block;
	line-height: 27px;
}
.box_ones>ul>li>p{
	font-size: 22px;
	text-align: center;
	color: #313131;
	margin-top: 15px;
}
.box_one_p_active{
	color: #F8A40D !important;
}
.box_one_title {
	width: 1000px;
	margin: 88px auto 0;
}

.box_one_title>label {
	font-size: 40px;
	font-weight: bold;
	color: #313131;
	float: left;
	line-height: 60px
}

.box_one_title>span {
	clear: both;

	font-size: 22px;
	color: #626262;
	display: block;
	text-align: center;
	padding-top: 6px;
	line-height: 50px
}

.line {
	float: left;
	width: 105px;
	height: 1px;
	background-color: #313131;
	margin-top: 23px
}

.line_right {
	margin-right: 20px
}

.line_left {
	margin-left: 20px
}
.box_twos{
	width: 1100px;
	overflow: hidden;
	margin: 0 auto;
	margin-top:10px;
	
}
.box_two_li{
	width:200px;
	height: 200px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-right:25px ;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.box_two_li>div{
	background: #fff;
	width: 100%;
	height: 100%;
	float: left;
}
.box_two_li>div>img{
	clear: both;
	width: 182px;
	height: 78px;
	display: block;
	margin: 0 auto;
	margin-top:9px ;
	border-radius:4px;
}
.box_two_li>div>p{
	font-size: 18px;
	color: #313131;
	text-align: center;
	margin-top:15px ;
	font-weight: bold;
}
.box_two_li>div>span{
	font-size: 14px;
	color: #717171;
	display: block;
	text-align: center;
	padding-top: 10px;
	line-height: 20px;
}
.box_two_li>img{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -186px;
	left: 0px;
}
.box_threes{
	width: 1100px;
	overflow: hidden;
	margin: 0 auto;
	margin-top:20px ;
}
.box_three_list{
	float: left;
	width: 258px;

	margin-right:22px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
.box_three_list>div{
	position: relative;
	width:258px;
	height:316px;
	overflow: hidden;
}
.box_three_list>div>img{
	display:block;
	width: 100%;
	height: 100%;
}

.box_three_list>p{
	font-size: 22px;
	color: #313131;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}
.box_three_list>span{
	font-size: 18px;
	color: #606060;
	text-align: left;
	margin-left: 55px;
	line-height: 15px;
	display: block;
	margin-top: 10px;
}




.box_one_text {
	width: 1100px;
	height: 484.4px;
	margin: 30px auto 0;
	overflow: hidden;
	position: relative
}

.box_one_text>ul {
	margin-left: 15px;
	position: absolute;
	width: 9999px
}

.box_one_text>ul>li,
.img_z {
	width: 223px;
	height: 396px
}
.img_zs{
	width: 275px !important;
	height: 388px !important;
}
.img_fs{
	width: 275px !important;
	height: 388px !important;
}
.img_li{
	width: 275px !important;
	height: 388px !important;
}
.box_one_text>ul>li {
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
	cursor: pointer;
}

.box_one_text>ul>li:first-child {
	margin-left: 0
}

.img_z>img {
	width: 100%;
	height: 100%
}

.img_f {
	width: 223px;
	height: 396px;
	background: rgba(0, 0, 0, .8);
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: none
}
.img_fs {
	width: 275px !important;
	height: 388px !important;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: none
}
.img_f_bj {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 184px;
	height: 235px;
	background: url("../img/img_bj.png");
	background-size: 100% 100%;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center
}

.img_f>img {
	width: 186px;
	height: 297px;
	display: block;
	margin: 0 auto
}
.img_fs>img {
	width: 275px !important;
	height: 388px !important;
	display: block;
	margin: 0 auto
}
.img_left,
.img_right {
	height: 484.4px;
	position: absolute;
	z-index: 3;
	top: 0
}

.img_f_bj>ul>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center
}

.img_f_bj>ul>li>span {
	width: 120px;
	 ;
	font-size: 20px;
	color: #FFF;
	line-height: 40px;
	text-align: left;
	padding-left: 5px;
	display: block
}

.img_left {
	width: 34.8px;
	float: left;
	display: block;
	left: 0
}

.img_right {
	float: right;
	width: 34.4px;
	margin-left: -20px;
	display: block;
	right: 0
}

.ck {
	width: 27px;
	height: 17px;
	display: block;
	float: left
}

.bm,
.fx {
	width: 23px;
	float: left;
	display: block
}

.fx {
	height: 23px
}

.bm {
	height: 21px
}

.box_two_bj {
	width: 100%;
	height: 585px;
	overflow: hidden;
	background: #FDF2E7
}

.box_two {
	width: 1100px;
	height: 770px;
	margin: 0 auto;
	overflow: hidden
}

.box_two_img {
	width: 1100px;
	margin: 38px auto 0
}

.box_two_img>ul>li {
	float: left;
	width: 304px;
	height: 579px;
	margin-left: 93px
}

.box_two_img>ul>li:first-child {
	margin-left: 0
}

.box_two_img>ul>li>img {
	width: auto;
	height: 379px;
	display: block
}

.box_two_img>ul>li>span {
	width: 304px;
	margin: 38px auto 0;
	display: block
}

.box_two_img>ul>li>span>img {
	float: left;
	width: 40px;
	height: 40px;
	display: block
}

.box_two_img>ul>li>span>span {
	width: 245px;
	float: left;
	display: block;
	text-align: left;
	 ;
	font-size: 24px;
	color: #313131;
	padding-left: 11px;
	line-height: 33px
}

.box_three {
	width: 1100px;
	height: 770px;
	overflow: hidden;
	margin: 0 auto
}

.three_list,
.three_list>ul {
	width: 1100px;
	height: 622.2px;
}

.three_list {
	margin-top: 45px
}

.three_list>ul {
	margin-top: 50px
}

.three_list>ul>li {
	float: left;
	width: 146px;
	height: 200px;
	display: block;
	margin-right: 67px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.three_list>ul>li:first-child+li+li+li+li,
.three_list>ul>li:first-child+li+li+li+li+li+li+li+li+li+li,
.three_list>ul>li:nth-child(10),
.three_list>ul>li:nth-child(5) {
	margin-bottom: 88px;
	margin-right: 38px
}

.three_list>ul>li>img {
	width: 146px;
	height: 146px
}

.bottom,
.box_four_bj {
	width: 100%
}

.three_list>ul>li>span {
	 ;
	font-size: 24px;
	color: #626262;
	display: block;
	text-align: center;
	padding-top: 10px
}

.three_f {
	display: none;
	position: absolute;
	top: 0;
	left: 0
}

.bottom,
.right_f,
.right_k,
.tc,
.tc>i,
.tc_kf {
	position: fixed
}

.three_list>ul>li:nth-child(2),
.three_list>ul>li:nth-child(3),
.three_list>ul>li:nth-child(4) {
	margin-bottom: 88px
}

.three_list>ul>li:nth-child(6) {
	margin-bottom: 88px;
	margin-left: 57px
}

.three_list>ul>li:first-child {
	margin-bottom: 88px;
	margin-left: 57px
}

.three_list>ul>li:first-child+li,
.three_list>ul>li:first-child+li+li,
.three_list>ul>li:first-child+li+li+li,
.three_list>ul>li:first-child+li+li+li+li {
	margin-bottom: 88px
}

.three_list>ul>li:first-child+li+li+li+li+li {
	margin-bottom: 88px;
	margin-left: 57px
}

.bottom {
	height: 0.9rem;
	overflow: hidden;
	bottom: 0;
	z-index: 999
}

.box_four,
.box_four_bj {
	height: 1000px;
	overflow: hidden
}

.box_four {
	width: 1100px;
	margin: 0 auto
}

.box_four_list {
	width: 1100px;
	margin: 45px auto 0
}

.box_four_list>img {
	width: 100%;
	height: 100%;
	display: block
}

.box_five_bj {
	width: 100%;
	height: 684px;
	overflow: hidden
}

.box_five {
	width: 1100px;
	height: 1084px;
	overflow: hidden;
	margin: 0 auto
}

.box_five_ewm {
	width: 388px;
	height: 388px;
	display: block;
	margin: 40px auto 0
}

.box_seven {
	width: 100%;
	height: 190px;
	overflow: hidden;
	background: #313131
}

.box_seven_img {
	width: 930px;
	height: 66px;
	margin: 48px auto 0
}

.bottom_i,
.wx {
	margin-right: 0.05rem;
	float: left
}

.box_seven_img>label {
	 PingFangSC-M;
	font-size: 20px;
	color: #FFF;
	float: left;
	display: block;
	margin-top: 27px
}

.box_seven_text,
.right_f>span {
	text-align: center;

}

.box_seven_img>img {
	width: 653px;
	height: 66px;
	display: block;
	float: left;
	margin-left: 30px
}

.box_seven_text {
	font-size: 14px;
	color: #FFF;
	display: block;
	padding-top: 30px;
	margin-top: -70px
}

.wx {
	width: 0.52rem;
	height: 0.44rem;
	background: url("../images/wx.png.html") no-repeat;
	background-size: 100% 100%;
	display: block;
	margin-top: 0.12rem;
	margin-left: 0.34rem
}

.right_f {
	width: 1.2rem;
	height: 1.3rem;
	background: #FF7F00;
	right: 0;
	bottom: 4rem;
	z-index: 999
}

.bottom_i,
.right_f>img {
	width: 0.5rem;
	display: block
}

.right_f>img {
	height: 0.5rem;
	margin-left: 0.35rem;
	margin-top: 0.2rem
}

.right_f>span {
	color: #fff;
	font-size: 0.32rem;
	float: left;
	padding-left: 0.29rem;
	padding-top: 0.15rem
}

.bottom_i {
	height: 0.52rem;
	background: url("../images/kf.png.html") no-repeat;
	background-size: 100% 100%;
	margin-top: 0.1rem;
	margin-left: 0.34rem
}

.ewm {
	width: 481px;
	height: 500px;
	margin: 40px auto 0
}

.ewm_img,
.jt {
	margin: 20px auto 0;
	display: block
}

.ewm>div {
	background: url("../images/ewm_k.png.html") no-repeat;
	background-size: 100% 100%;
	width: 481px;
	height: 72px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/images/ewm_k.png', sizingMethod='scale')
}

.ewm>div>span {
	text-align: center;
	line-height: 65px;
	color: #000;
	font-size: 34px;
	 PingFangSC-M;
	display: block
}

.jt {
	width: 87px;
	height: 77px
}

.ewm_img {
	width: 291px;
	height: 291px
}

.right_k {
	width: 72px;
	right: 12px;
	height: 342px;
	top: 300px;
	z-index: 1000;
	background: url("../img/qq.png") no-repeat;
	animation:kf 4s infinite;
	-webkit-animation:kf 4s infinite;
}

@keyframes kf{
	0% {top:300px;}
	50% {top:320px;}
	100% {top:300px;}
}

@-webkit-keyframes kf {
	0% {top:300px;}
	50% {top:320px;}
	100% {top:300px;}
}
.right_k>ul{
	margin-top:7px ;
}
.right_k>ul>li {
	width: 65px;
	height: 60px;
	margin: 0 auto;
	cursor: pointer;
}

.right_k>ul>li:nth-child(1) {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}
.right_k>ul>li:first-child+li{
	height: 62px;
}
.right_k>ul>li:first-child+li+li {
	margin-top: 1px;
	height: 64px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.right_k>ul>li:nth-child(4) {
	width: 65px;
	height: 40px;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 20px;
	background-color:#F8A40D ;
}

.right_k>ul>li>i {
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 20px;
	margin-left: 16px;
	float: left
}
.right_k>i{
	width: 28px;
	height: 25px;
	display: block;
	margin: 0 auto;
	background: url("../img/logo.png") no-repeat;
	margin-top: 123px;
}
.right_k>ul>li:first-child>i {
	background: url("../img/kf.png") no-repeat;
	margin-top: 7px;
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/images/kf.png', sizingMethod='scale')
}

.right_k>ul>li:first-child+li>i,
.right_k>ul>li:first-child+li+li>i {
	margin-top: 10px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/img/ewm.png', sizingMethod='scale')
}

.right_k>ul>li:first-child>span,
.right_k>ul>li:first-child+li>span,
.right_k>ul>li:first-child+li+li>span,
.right_k>ul>li:first-child+li+li+li>span {
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	color: #fff;
	display: block;
	clear: both
}

.right_k>ul>li:first-child+li+li+li:hover,
.right_k>ul>li:first-child+li+li:hover,
.right_k>ul>li:first-child+li:hover,
.right_k>ul>li:first-child:hover {
	background:#E67F0B;
}

.right_k>ul>li:first-child+li>i {
	background: url("../img/wx.png") no-repeat;
	width: 36px;
	height: 30px;
	background-size: 100% 100%
}

.right_k>ul>li:first-child+li+li>i {
	background: url("../img/tel.png") no-repeat;
	background-size: 100% 100%
}

.right_k>ul>li:first-child+li+li+li>i {
	width: 16px!important;
	height: 10px!important;
	margin-top: 9px!important;
	margin-left: 25px!important;
	background: url("../img/top.png") no-repeat;
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/img/top.png', sizingMethod='scale')
}



.r_ewm_h {
	float: right;
	width: 147px;
	height: 147px;
	margin-right: 80px;
	margin-top: -185px;
	display: none
}

.tc_kf {
	width: 507px;
	height: 306px;
	overflow: hidden;
	display: none;
	top: 50%;
	left: 50%;
	z-index: 1001;
	margin-left: -253px;
	margin-top: -152px;
	background: url("../img/tc_kf.png") no-repeat;
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/images/tc_kf.png', sizingMethod='scale')
}

.tc_kf>span {
	width: 291px;
	height: 120px;
	 ;
	font-size: 20px;
	color: #000;
	line-height: 30px;
	display: block;
	margin-left: 185px;
	margin-top: 86px
}

.go_zx,
.outtime {
	display: block;
	width: 120px;
	height: 50px;
	border-radius: 4px;
	 PingFangSC-M;
	font-size: 24px;
	color: #FFF;
	line-height: 50px;
	float: left;
	margin-top: 19px;
	cursor: pointer;
	text-align: center
}

.outtime {
	background: #A8A8A8;
	margin-left: 220px
}

.go_zx {
	background: url("../images/btn.png.html") no-repeat;
	margin-left: 20px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/images/btn.png', sizingMethod='scale')
}

.tc,
.tc_if {
	display: none
}
.tc {
	width: 400px;
	height: 600px;
	right: 0;
	bottom: 0;
	z-index: 1010;
	border: 1px solid #f49300
}
.tc>i {
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	right: 10px;
	bottom: 560px;
	z-index: 1007;
	background: url("../img/close.png") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://www.laidiannet.com/static/pc/pc2/images/close.png', sizingMethod='scale')
}

.jssorb052 .i,
.page5-copyright,
.page5-ewm,
.tel_text {
	position: absolute
}

.tel_text {
	width: 160px;
	height: 80px;
	display: none;
	z-index: 100;
	background: rgba(0, 0, 0, .5);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 80px;
	top: 262px;
	right: 81px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)
}
.banner_left{
	width: 66px;
	height: 66px;
	display: block;
	position: absolute;
	left: 50px;
	top: 247px;
}
.banner_right{
	width: 66px;
	height: 66px;
	display: block;
	position: absolute;
	top: 247px;
	right: 50px;
}

.ifanme {
	width: 400px;
	height: 600px
}

.jssorb052 .i {
	cursor: pointer
}

.jssorb052 .i .b {
	fill: #000;
	fill-opacity: 0.3
}

.jssorb052 .i:hover .b {
	fill-opacity: 0.7
}

.jssorb052 .iav .b {
	fill-opacity: 1
}

.jssorb052 .i.idn {
	opacity: 0.3
}

.page5-footer_bj {
	width: 100%;
	height: 135px;
	overflow: hidden
}

.page5-footer {
	width: 100%;
	height: 135px;
	background: #eee;
	padding-top: 10px
}

.page5-serverIcon {
	width: 100%;
	height: 60%;
	margin: 0;
	list-style: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10%
}

.page5-item {
	width: 15%;
	height: 100%;
	display: inline-block
}

.page5-copyright,
.page5-ewm,
.page5-item-icon {
	width: 100%;
	text-align: center
}

.page5-item-icon {
	height: 30%;
	padding: 5% 0
}

.page5-item-icon img {
	height: 100%
}

.page5-item-tip {
	text-align: center;
	font-size: 16px;
	color: #373737
}

.page5-copyright {

	font-size: 14px;
	color: #464646;
	bottom: 0;
	padding: 10px 0
}

.page5-ewm {
	top: 48%
}

.page5-ewm img {
	width: 12%
}

.page5-ewm div {
	font-size: 24px;
	color: #373737
}

.box_seven_abs {
	width: 830px;
	height: 70px;
	float: left;

	margin-right: 0
}

.box_seven_abs>ul {}

.box_seven_abs>ul>li {
	width: 100px;
	height: 70px;
	display: block;
	float: left;
	margin-left: 8px;
	margin-right: 30px
}

.box_seven_abs>ul>li>a {
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: block
}
.hfzj{
	width:250px !important;
	height:50px !important;
	margin-top: 8px !important;
	display:block;
}

.banner1_img{
	width: 238px;
    height: 73px;
    margin: 0 auto;
    display: block;
    margin-top: 362px;
    background: url("../img/banner1_btn.png") no-repeat;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 67px;
}
.banner1_img:hover{
	background: url("../img/banner1_btn_hover.png") no-repeat;
}
.banner2_img{
	width: 327px;
    height: 83px;
    margin: 0 auto;
    display: block;
    margin-top: 364px;
    background: url("../img/banner2_btn.png") no-repeat;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 51px;
}
.banner2_img:hover{
	background: url("../img/banner2_btn_hover.png") no-repeat;
}
.banner3_img{
	width: 178px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-top: 447px;
    background: url("../img/banner3_btn.png") no-repeat;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 51px;
}
.banner3_img:hover{
	background: url("../img/banner3_btn_hover.png") no-repeat;
}
.banner7_sj{
    display: none;
    width: 200px;
    height: 186px;
    position: absolute;
    left: 50%;
    top: 361px;
    margin-left: 100px;
    z-index: 3;
}
.banner6_sj{
    display: none;
    width: 200px;
    height: 186px;
    position: absolute;
    left: 50%;
    top: 360px;
    margin-left: 120px;
    z-index: 3;
}
.banner8_sj{
    display: none;
    width: 200px;
    height: 186px;
    position: absolute;
    left: 50%;
    top: 350px;
    margin-left: 170px;
    z-index: 3;
}
.box_three_list>div>div{
	position: absolute;
    bottom: -316px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-position:center;
}
.box_three1{
	background: url("../img/box_three/1-1.jpg") no-repeat;

}
.box_three2{
	background: url("../img/box_three/2-1.jpg") no-repeat;
}
.box_three3{
	background: url("../img/box_three/3-1.jpg") no-repeat;
}
.box_three4{
	background: url("../img/box_three/4-1.jpg") no-repeat;
}
.box_three5{
	background: url("../img/box_three/5-1.jpg") no-repeat;
}
.box_three6{
	background: url("../img/box_three/6-1.jpg") no-repeat;
}
.box_three7{
	background: url("../img/box_three/7-1.jpg") no-repeat;
}
.box_three8{
	background: url("../img/box_three/8-1.jpg") no-repeat;
}
.box_three9{
	background: url("../img/box_three/9-1.jpg") no-repeat;
}
.box_three10{
	background: url("../img/box_three/10-1.jpg") no-repeat;
}
.box_three11{
	background: url("../img/box_three/11-1.jpg") no-repeat;
}
.box_three12{
	background: url("../img/box_three/12-1.jpg") no-repeat;
}
.box_three13{
	background: url("../img/box_three/13-1.jpg") no-repeat;
}
.box_three14{
	background: url("../img/box_three/14-1.jpg") no-repeat;
}
.box_three15{
	background: url("../img/box_three/15-1.jpg") no-repeat;
}
.box_three16{
	background: url("../img/box_three/16-1.jpg") no-repeat;
}
.box_three17{
	background: url("../img/box_three/17-1.jpg") no-repeat;
}
.box_three18{
	background: url("../img/box_three/18-1.jpg") no-repeat;
}
.box_three19{
	background: url("../img/box_three/19-1.jpg") no-repeat;
}
.box_three20{
	background: url("../img/box_three/20-1.jpg") no-repeat;
}
.box_three21{
	background: url("../img/box_three/21-1.jpg") no-repeat;

}
.box_three22{
	background: url("../img/box_three/22-1.jpg") no-repeat;
}
.box_three23{
	background: url("../img/box_three/23-1.jpg") no-repeat;
}
.box_three24{
	background: url("../img/box_three/24-1.jpg") no-repeat;
}
.box_three25{
	background: url("../img/box_three/25-1.jpg") no-repeat;
}
.box_three26{
	background: url("../img/box_three/26-1.jpg") no-repeat;
}
.box_three27{
	background: url("../img/box_three/27-1.jpg") no-repeat;
}
.box_three28{
	background: url("../img/box_three/28-1.jpg") no-repeat;
}
.box_three29{
	background: url("../img/box_three/29-1.jpg") no-repeat;

}
.box_three30{
	background: url("../img/box_three/30-1.jpg") no-repeat;
}
.box_three31{
	background: url("../img/box_three/31-1.jpg") no-repeat;
}

.box_three32{
	background: url("../img/box_three/32-1.jpg") no-repeat;
}
.box_three33{
	background: url("../img/box_three/33-1.jpg") no-repeat;
}
.box_three34{
	background: url("../img/box_three/34-1.jpg") no-repeat;
}
.box_three35{
	background: url("../img/box_three/35-1.jpg") no-repeat;
}
.box_three36{
	background: url("../img/box_three/36-1.jpg") no-repeat;

}
.box_three37{
	background: url("../img/box_three/37-1.jpg") no-repeat;
}
.box_three38{
	background: url("../img/box_three/38-1.jpg") no-repeat;
}
.box_three39{
	background: url("../img/box_three/39-1.jpg") no-repeat;
}
.box_three40{
	background: url("../img/box_three/40-1.jpg") no-repeat;
}
.box_three41{
	background: url("../img/box_three/41-1.jpg") no-repeat;
}
.box_three42{
	background: url("../img/box_three/42-1.jpg") no-repeat;
}
.box_three43{
	background: url("../img/box_three/43-1.jpg") no-repeat;
}
.box_three44{
	background: url("../img/box_three/44-1.jpg") no-repeat;
}
.box_three45{
	background: url("../img/box_three/45-1.jpg") no-repeat;
}
.box_three46{
	background: url("../img/box_three/46-1.jpg") no-repeat;
}
.box_three47{
	background: url("../img/box_three/47-1.jpg") no-repeat;
}
.box_three48{
	background: url("../img/box_three/48-1.jpg") no-repeat;
}

.box_three_nav{
	width: 1083px;
	margin: 0 auto;
	height: 67px;
}
.box_three_nav>li{
	width: 171px;
	height: 65px;
	border:1px solid #F1F1F5;
	background:#F9C76C;
	font-size: 24px;
	color: #313131;
	float: left;
	margin-left: 9px;
	display: block;
	text-align: center;
	line-height: 65px;
	border-radius:8px 8px 2px 2px;
    position: relative;
    top: 1px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.box_three_nav>li:first-child{
	margin-left: 0px;
}
.box_three_nav_ac{
	border:1px solid #000 !important;
	color: #F8A40D !important;
	background: #F1F1F5 !important;
	border-bottom:1px solid #F1F1F5 !important;
}
.box_three_tab{
	overflow: hidden;
	border: 1px solid #000000;
	border-radius: 0 0 8px 8px;
}
